body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
} 

.display-3 {
  font-size: 60px;
}

#currentDay {
  font-size: 24px;
  font-weight: bold;
}

.container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  padding-top: 15px;

}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: url(https://lh3.ggpht.com/8zbXEbgVd1CUxkuxQJioMRPfRBxGSyrUuaLXCmGLgzU_-4jsNfBDtMqKhqsJUA=s1200);
  background-position: 10% 30%;
  background-size: cover;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.holder {
  text-align: center;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 10px;
}

.description{
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 50px;
  border-top: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-sm-8 {
  flex: 0 1 auto;
  padding: 0;
}

.col-sm-1 {
  flex: 0 1 auto;
  text-align: center;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 15px;
}

.hour-last {
  border-bottom: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  padding: 15px 0px 0px;
  text-align: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

footer {
  border-top: 10px solid black;
  font-size: 14px;
  background-image: url(https://lh3.ggpht.com/8zbXEbgVd1CUxkuxQJioMRPfRBxGSyrUuaLXCmGLgzU_-4jsNfBDtMqKhqsJUA=s1200);
  background-position: 10% 95%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footholder {
  text-align: center;
  width: 40%;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 10px;
  
}

@media (max-width: 991px) {
  .display-3 {
    font-size: 48px;
  }
  .hour {
    font-size: 14px;
    padding-left: 0px;
  }
}


@media (max-width: 575px) {
  .display-3 {
    font-size: 40px;
  }
  .col-sm-8 {
    flex: 0 1 70%;
  }
  .col-sm-1 {
    flex: 1 0 5%;
    padding-right: 0;
  }
}